extends layout
include mixins/log.pug

block content
  nav.navbar.navbar-expand-lg.navbar-light.bg-light
    a.navbar-brand(href=backUrl)= "< Norrlandsordern"
  .p-4
    .restrict-width
      h4.card-title.ml-4 Senaste loggade ölen
      .btn-group.container-fluid
        if size != 10
          a.btn.btn-outline-dark(href='/statistics/log?size=10') 10
        if size != 25
          a.btn.btn-outline-dark(href='/statistics/log?size=25') 25
        if size != 50
          a.btn.btn-outline-dark(href='/statistics/log?size=50') 50
        if size != 100
          a.btn.btn-outline-dark(href='/statistics/log?size=100') 100
      +log(latestNorrlands)
