.background {
  background-image: linear-gradient(#CBA051, #FFF);
  width: 100%;
  height: 360px;
}

a[disabled] {
  pointer-events: none;
}

.bg-sm {
  height: 180px;
}

.logo {
  display: block;
  width: 300px;
  margin: 0 auto;
  padding-top: 80px;
}

.logo-sm {
  width: 200px;
}

.restrict-width {
  margin: 0 auto;
  max-width: 600px;
}

.banner {
  background-image: url(/images/background.png);
  background-position: center center;
  background-size: auto 300px;
  width: 100%;
  height: 300px;
  margin-top: -100px;
}

.offset {
  background-position: 160px center;
}

.row {
  margin: 0;
}

.row * {
  padding-left: 0;
}

.white {
  color: white;
}

.red {
  color: #BE162F;
}

.blue {
  color: #0A243E;
}

.subheader {
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 80%;
}

#map-status {
  width: 100%;
  height: 250px;
}

.signin {
  background-color: #0A243E;
  margin-top: -32px;
}

.vision {
  background-color: #dcbf8a;
}

.approach {
  background-color: #0A243E;
}

#login-form {
  max-width: 440px;
}

.card img {
  display: block;
  margin: 16px auto;
  width: 50%;
}

.log-table .bi-pencil-square {
  font-size: 1.5em;
}

.log-table th {
  vertical-align: middle;
}

.log-table th:last-child {
  text-align: center;
}

#status {
  -webkit-animation: cssAnimation 5s forwards;
  animation: cssAnimation 5s forwards;
}

.image-container * {
  margin-left: auto;
  margin-right: 0;
  display: block;
}

#members {
  background-color: #dcbf8a;
}

#members table {
  border-color: #CBA051;
}

#coins {
  width: 120px;
  margin-top: 20px;
}

#cans {
  width: 180px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.progress * {
  background-color: #0A243E;
}

@keyframes cssAnimation {
    0%   {opacity: 1;}
    50%  {opacity: 1;}
    100% {opacity: 0;}
}
@-webkit-keyframes cssAnimation {
    0%   {opacity: 1;}
    50%  {opacity: 1;}
    100% {opacity: 0;}
}

.borderless td, .borderless th {
    border: none;
}

@media screen and (min-width: 600px) {
  #map-status {
    height: 400px;
  }
}

.user-link {
  color: #000;
  text-decoration: underline;
}

.user-link:hover {
  color: #444;
}

.norrlands-wrapped-popup {
  position: fixed;
  bottom: 0;
  margin: 16px;
  z-index: 2000;
  background: linear-gradient(140deg, #0A243E 0%, #BE162F 36%, #CBA051 100%);
  box-shadow: 3px 3px 16px 0px #0000004a;
  color: #fff;
  padding: 16px;
  border-radius: 5px;
}

.norrlands-wrapped-popup .close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px;
  color: #fff;
}

.norrlands-wrapped-popup .goto {
  font-weight: 900;
  animation: pulse 10s infinite;
}

@keyframes pulse {
  0% {
    color: #0A243E;
  }
  33% {
    color: #BE162F;
  }
  66% {
    color: #CBA051;
  }
  100% {
    color: #0A243E;
  }
}