mixin log(l)
  table.borderless.table.m-0
    thead
      tr
        th(scope='col') Namn
        th(scope='col') Tid
    tbody
      each item in l
        tr
          td
            a.user-link(href=`/users/${item.id}`)= item.name
          td= formatDate(item.created_at)